.page-header{
  padding-top: .17rem;
  padding-bottom:.17rem;
  font-size: .34rem;
  line-height:.55rem;
  color:@color-10;
  position: fixed;
  width: 100%;
  left: 0;
  top:0;
  z-index: 500;
  border-bottom: 1px solid @color-194;
  height:@header-height;
  .back{
    position: absolute;
    height: .35rem;
    width: .21rem;
    background-image: url(/images/page/back.png);
    background-size: 100% 100%;
    left:.30rem;
    top:.27rem;
  }
  .right-ico{
    position: absolute;
    height: .34rem;
    top:.24rem;
    right:.24rem;
  }
}
.page-body{
  width: 100%;
  min-height: 100%;
}
.page-line{
  height: 50px;
  text{
    line-height: 20px;
  }
}
.page-back{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top:0;
  z-index: 1;
  background: rgba(0,0,0,.4);
}
.page-footer{
   height: 1.02rem;
  padding-top:.18rem;
  padding-bottom:.14rem;
  .item{
    height: 100%;
    line-height: 0;
    text-align: center;
  }
  img{
    width: .34rem;
    height: .34rem;
  }
  .text{
    padding-top:.08rem;
    font-size:.22rem;
    line-height: .22rem;
  }
}
