.book-window{
  height: 3.18rem;
  border-top: 1px solid @color-205;
  .item-list{
    height: 1.05rem;
    padding-top:.22rem;
    padding-bottom:.2rem;
  }
  .item{
    height: .61rem;
    .img{
      width: .31rem;
      height: .31rem;
    }
  }
}
.book-content{
  padding-bottom:3.18rem;
}
