.book-window{
  height: 3.18rem;
  padding-top:.5rem;
  border-top: 1px solid @color-205;
  .item{
    height: .7rem;
    margin-right:1.14rem;
    line-height:0;
    img{
      width: .31rem;
      height: .31rem;
      margin-bottom:.1rem;
    }
    div{
      line-height:1;
    }
    &:last-child{
      margin-right:0;
    }
  }
}
.book-content{
  padding-bottom:3.18rem;
}
