.pay-content{
  .pay-item{
    &.sm{
      height: .94rem;
    }
    height: 1.62rem;
    padding-top:.28rem;
    padding-bottom:.28rem;
    padding-left:1.34rem;
    position: relative;
    font-size:.28rem;
    color: @color-24;
    line-height:1.06rem;
    .img{
      position: absolute;
      width: 1.06rem;
      height: 1.06rem;
      top:.28rem;
      left: -.06rem;
    }
    .text{
      width: 2.8rem;
    }
    .num{
      width: 1.10rem;
    }
    .price{
      width: 1.70rem;
      text-align: right;
    }
    .title{
      padding-left:.1rem;
      border-left: 2px solid @color-24;
    }
  }
  .notice{
    height: .74rem;
  }
}
