@color-10:rgb(10,10,10);
@color-24:rgb(24,24,24);
@color-194:rgb(194,194,194);
@color-104:rgb(104,104,104);
@color-233:rgb(233,233,233);
@footer-height:59px;
@import "element/index.less";
@import "common/index.less";
@import "ui/index.less";
@import "page/index.less";
