.btn-50 {
  height: .96rem;
  width: 50%;
  font-size: .34rem;
  line-height: .96rem;
}
.btn {
  height: .8rem;
  border-radius: .8rem;
  width: 100%;
  text-align: center;
  font-size: .34rem;
  line-height: .8rem;
}
.btn:after {
  content: none;
}
.btn-sm {
  height: .52rem;
  font-size: .28rem;
  border-radius: .52rem;
  line-height: .52rem;
}
.btn-lt {
  height: .4rem;
  padding-left: .2rem;
  padding-right: .2rem;
  border-radius: .4rem;
  font-size: .24rem;
  line-height: .4rem;
}
.btn-auto {
  width: auto;
}
a {
  text-decoration: none;
}
.input-div {
  line-height: 0;
}
.input-div input {
  padding-top: .2rem;
  padding-bottom: .2rem;
  line-height: .28rem;
  height: .68rem;
  font-size: .28rem;
  padding-left: .16rem;
  border: 1px solid #181818;
  border-radius: .68rem;
}
.input-div input:focus {
  border: 1px solid #e9e9e9;
  box-shadow: 0 0.14rem 0.3rem 0.01rem #ccc;
}
.input-auto {
  height: .40rem;
  line-height: .4rem;
}
input {
  color: #0a0a0a;
  padding-left: .16rem;
  border: 0;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 0.28rem;
  color: #686868;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 0.28rem;
  color: #686868;
  opacity: 1;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 0.28rem;
  color: #686868;
  opacity: 1;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 0.28rem;
  color: #686868;
}
input:focus {
  outline: none;
}
.search-input {
  position: relative;
  height: .55rem;
  border-radius: .55rem;
  border: 1px solid #c2c2c2;
  padding-left: .6rem;
  padding-right: .6rem;
  line-height: 0;
  padding-top: .10rem;
}
.search-input input {
  height: .28rem;
  line-height: .28rem;
  font-size: .28rem;
  width: 100%;
}
.search-input .ico {
  position: absolute;
  top: .11rem;
  height: .29rem;
}
.search-input .search-left-ico {
  left: .16rem;
}
.search-input .del-ico {
  right: .16rem;
}
.checkbox {
  width: .36rem;
  height: .36rem;
  background-image: url(/images/page/checkbox-none.png);
  background-size: 100% 100%;
  display: inline-block;
}
.checkbox.active {
  background-image: url(/images/page/checkbox-checked.png);
}
.swiper-img {
  height: 3.08rem;
}
.star-ico {
  width: .3rem;
  height: .3rem;
  margin-right: .06rem;
}
.number-ico {
  width: .4rem;
  height: .4rem;
  background-size: 100% 100%;
}
.number-ico.add {
  background-image: url(/images/page/add.png);
}
.number-ico.diff {
  background-image: url(/images/page/diff.png);
}
.location-ico {
  width: .18rem;
  height: .29rem;
}
.head-img {
  width: .84rem;
  height: .84rem;
}
.ico-54 {
  width: .54rem;
  height: .54rem;
}
.ico-40 {
  width: .4rem;
  height: .4rem;
}
.ico-right {
  width: .18rem;
  height: .3rem;
  background-image: url(/images/ico/right.png);
  background-size: 100% 100%;
}
.confirm-ico {
  width: .9rem;
  height: .9rem;
}
text {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 14px;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
div,
body,
button,
input,
textarea,
ul,
li,
span {
  box-sizing: border-box;
}
.cursor-pointer {
  cursor: pointer;
}
html {
  line-height: 1;
  color: #181818;
}
#app,
body,
html {
  height: 100%;
  background: #ebebeb;
}
div::-webkit-scrollbar {
  display: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.write-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.color-white {
  color: white;
}
.color-104 {
  color: #686868;
}
.color-194 {
  color: #c2c2c2;
}
.color-24 {
  color: #181818;
}
.color-10 {
  color: #0a0a0a;
}
.color-73 {
  color: #494949;
}
.color-999 {
  color: #999;
}
.color-hover-null:hover {
  color: inherit;
}
.back-black {
  background: black;
}
.back-black-08 {
  background: rgba(0, 0, 0, 0.8);
}
.back-black-06 {
  background: rgba(0, 0, 0, 0.6);
}
.back-white {
  background: white;
}
.back-transparent {
  background: transparent;
}
.back-24 {
  background: #181818;
}
.back-43 {
  background: #2b2b2b;
}
.back-248 {
  background: #f8f8f8;
}
.back-242 {
  background: #f2f2f2;
}
.back-233 {
  background: #e9e9e9;
}
.back-238 {
  background: #eeeeee;
}
.margin-auto {
  margin: auto;
}
.mt-48 {
  margin-top: .48rem;
}
.mt-20 {
  margin-top: .20rem;
}
.mt-10 {
  margin-top: .10rem;
}
.mt-66 {
  margin-top: .66rem;
}
.mt-58 {
  margin-top: .58rem;
}
.mt-280 {
  margin-top: 2.80rem;
}
.mb-20 {
  margin-bottom: .20rem;
}
.mb-22 {
  margin-bottom: .22rem;
}
.mb-30 {
  margin-bottom: .30rem;
}
.mb-10 {
  margin-bottom: .10rem;
}
.mb-44 {
  margin-bottom: .44rem;
}
.mb-40 {
  margin-bottom: .40rem;
}
.mr-20 {
  margin-right: .20rem;
}
.mr-10 {
  margin-right: .10rem;
}
.mr-08 {
  margin-right: .08rem;
}
.mr-100 {
  margin-right: 1rem;
}
.ml-10 {
  margin-left: .10rem;
}
.ml-48 {
  margin-left: .48rem;
}
.ml-inline {
  margin-left: -0.2rem;
}
.inline-block {
  display: inline-block;
  line-height: 1;
}
.block {
  display: block;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-scroll {
  overflow: scroll;
}
.overflow-scroll-x {
  overflow-x: scroll;
}
.overflow-scroll-y {
  overflow-y: scroll;
}
.display-table {
  display: table;
  text-align: center;
}
.display-table > * {
  display: table-cell;
  vertical-align: middle;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.opacity-0 {
  opacity: 0;
}
.text-middle {
  vertical-align: middle;
}
.text-bottom {
  vertical-align: text-bottom;
}
.text-top {
  vertical-align: text-top;
}
.text-underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.break-all {
  word-break: break-all;
}
.break-none {
  white-space: nowrap;
}
.fz-30 {
  font-size: .3rem;
}
.fz-32 {
  font-size: .32rem;
}
.fz-34 {
  font-size: .34rem;
}
.fz-36 {
  font-size: .36rem;
}
.fz-20 {
  font-size: .2rem;
}
.fz-24 {
  font-size: .24rem;
}
.fz-26 {
  font-size: .26rem;
}
.fz-28 {
  font-size: .28rem;
}
.fz-22 {
  font-size: .22rem;
}
.fz-14 {
  font-size: .14rem;
}
.fz-16 {
  font-size: .16rem;
}
.fz-40 {
  font-size: .4rem;
}
.font-weight {
  font-weight: bold;
}
.width-100-100 {
  width: 100%;
}
.width-90-100 {
  width: 90%;
}
.width-80-100 {
  width: 80%;
}
.width-70-100 {
  width: 70%;
}
.width-60-100 {
  width: 60%;
}
.width-50-100 {
  width: 50%;
}
.width-40-100 {
  width: 40%;
}
.width-30-100 {
  width: 30%;
}
.width-20-100 {
  width: 20%;
}
.width-10-100 {
  width: 10%;
}
.width-690 {
  width: 6.9rem;
}
.width-40 {
  width: .4rem;
}
.width-22 {
  width: .22rem;
}
.width-100 {
  width: 1rem;
}
.width-128 {
  width: 1.28rem;
}
.width-200 {
  width: 2rem;
}
.width-284 {
  width: 2.84rem;
}
.width-1200 {
  width: 12rem;
}
.width-auto {
  width: auto;
}
.height-100-100 {
  height: 100%;
}
.height-404 {
  height: 4.04rem;
}
.height-40 {
  height: .4rem;
}
.height-30 {
  height: .3rem;
}
.height-14 {
  height: .14rem;
}
.height-90 {
  height: .9rem;
}
.height-88 {
  height: .88rem;
}
.height-100 {
  height: 1rem;
}
.height-128 {
  height: 1.28rem;
}
.lh-35 {
  line-height: .35rem;
}
.lh-40 {
  line-height: .4rem;
}
.lh-0 {
  line-height: 0;
}
.max-h-300 {
  max-height: 3rem;
}
.pt-30 {
  padding-top: .3rem;
}
.pt-36 {
  padding-top: .36rem;
}
.pt-20 {
  padding-top: .2rem;
}
.pt-10 {
  padding-top: .1rem;
}
.pt-16 {
  padding-top: .16rem;
}
.pt-24 {
  padding-top: .24rem;
}
.pt-26 {
  padding-top: .26rem;
}
.pt-28 {
  padding-top: .28rem;
}
.pt-40 {
  padding-top: .4rem;
}
.pt-42 {
  padding-top: .42rem;
}
.pt-48 {
  padding-top: .48rem;
}
.pt-50 {
  padding-top: .5rem;
}
.pt-70 {
  padding-top: .7rem;
}
.pt-74 {
  padding-top: .7rem;
}
.pt-132 {
  padding-top: 1.32rem;
}
.pt-220 {
  padding-top: 2.2rem;
}
.pt-280 {
  padding-top: 2.8rem;
}
.pt-340 {
  padding-top: 3.4rem;
}
.pt-seat-header {
  padding-top: 5.8rem;
}
.pt-header {
  padding-top: 0.9rem;
}
.pl-24 {
  padding-left: .24rem;
}
.pl-38 {
  padding-left: .38rem;
}
.pl-20 {
  padding-left: .20rem;
}
.pl-30 {
  padding-left: .3rem;
}
.pl-40 {
  padding-left: .4rem;
}
.pl-156 {
  padding-left: 1.56rem;
}
.pl-product {
  padding-left: 2rem;
}
.pr-20 {
  padding-right: .20rem;
}
.pr-24 {
  padding-right: .24rem;
}
.pr-26 {
  padding-right: .26rem;
}
.pr-30 {
  padding-right: .3rem;
}
.pr-40 {
  padding-right: .4rem;
}
.pr-32 {
  padding-right: .32rem;
}
.pr-38 {
  padding-right: .38rem;
}
.pb-footer {
  padding-bottom: 1.02rem;
}
.pb-40 {
  padding-bottom: .4rem;
}
.pb-42 {
  padding-bottom: .42rem;
}
.pb-48 {
  padding-bottom: .48rem;
}
.pb-50 {
  padding-bottom: .5rem;
}
.pb-56 {
  padding-bottom: .56rem;
}
.pb-74 {
  padding-bottom: .74rem;
}
.pb-30 {
  padding-bottom: .3rem;
}
.pb-34 {
  padding-bottom: .34rem;
}
.pb-20 {
  padding-bottom: .2rem;
}
.pb-24 {
  padding-bottom: .24rem;
}
.pb-22 {
  padding-bottom: .22rem;
}
.pb-26 {
  padding-bottom: .26rem;
}
.pb-150 {
  padding-bottom: 1.5rem;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.position-fixed {
  position: fixed;
}
.position-full {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.z-index-9999 {
  z-index: 9999;
}
.z-index-3333 {
  z-index: 3333;
}
.z-index-3000 {
  z-index: 3000;
}
.z-index-2000 {
  z-index: 2000;
}
.z-index-1 {
  z-index: 1;
}
.z-index-100 {
  z-index: 100;
}
.z-index-50 {
  z-index: 50;
}
.z-index-1000 {
  z-index: 1000;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}
.clearfix {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.border-rad-5 {
  border-radius: 5px;
}
.border-rad-10 {
  border-radius: .1rem;
}
.border-rad-20 {
  border-radius: .2rem;
}
.border-rad-100 {
  border-radius: 100%;
}
.border-b-233 {
  border-bottom: 1px solid #e9e9e9;
}
.border-b-194 {
  border-bottom: 1px solid #c2c2c2;
}
.border-b-199 {
  border-bottom: 1px solid #c7c7c7;
}
.border-t-194 {
  border-top: 1px solid #c2c2c2;
}
.border-t-199 {
  border-top: 1px solid #c7c7c7;
}
.border-t-233 {
  border-top: 1px solid #c2c2c2;
}
.border-24 {
  border: 1px solid #181818;
}
.shadow-top-auto {
  box-shadow: 0 -0.14rem 0.3rem 0.01rem #eee;
}
.shadow-bottom-auto {
  box-shadow: 0 0.14rem 0.3rem 0.01rem #eee;
}
.buy-button-content {
  position: fixed;
  right: .3rem;
  bottom: .72rem;
  width: .9rem;
  font-size: .3rem;
  line-height: .9rem;
  text-align: center;
}
.buy-button-content .item {
  width: .9rem;
  height: .9rem;
  border-radius: 100%;
  border: 1px solid #c8c8c8;
  background: white;
  color: #181818;
}
.buy-button-content .blank {
  background: #181818;
  color: white;
  margin-top: .35rem;
}
.page-header {
  padding-top: .17rem;
  padding-bottom: .17rem;
  font-size: .34rem;
  line-height: .55rem;
  color: #0a0a0a;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;
  border-bottom: 1px solid #c2c2c2;
  height: 0.9rem;
}
.page-header .back {
  position: absolute;
  height: .35rem;
  width: .21rem;
  background-image: url(/images/page/back.png);
  background-size: 100% 100%;
  left: .30rem;
  top: .27rem;
}
.page-header .right-ico {
  position: absolute;
  height: .34rem;
  top: .24rem;
  right: .24rem;
}
.page-body {
  width: 100%;
  min-height: 100%;
}
.page-line {
  height: 50px;
}
.page-line text {
  line-height: 20px;
}
.page-back {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}
.page-footer {
  height: 1.02rem;
  padding-top: .18rem;
  padding-bottom: .14rem;
}
.page-footer .item {
  height: 100%;
  line-height: 0;
  text-align: center;
}
.page-footer img {
  width: .34rem;
  height: .34rem;
}
.page-footer .text {
  padding-top: .08rem;
  font-size: .22rem;
  line-height: .22rem;
}
.city-window {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 4001;
}
.city-window .city-item {
  background: #ececec;
}
.city-window .active {
  height: 30px;
  line-height: 30px;
  background: rgba(20, 173, 171, 0.3);
  color: white;
}
.back-window {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4000;
}
.wy-toast-window {
  position: fixed;
  bottom: 20%;
  left: 20%;
  width: 60%;
  color: white;
}
.wy-toast-window .text {
  background: rgba(0, 0, 0, 0.7);
  padding-top: .1rem;
  font-size: .4rem;
  height: .6rem;
  border-radius: .6rem;
  padding-bottom: .1rem;
}
.wy-loading-window {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.full-window {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.share-view {
  width: 99px;
  height: 40px;
  padding-top: 3px;
  background: rgba(0, 0, 0, 0);
}
.share-view img {
  width: 100%;
  height: 100%;
}
.share-view span {
  top: 18px;
  height: 22px;
  line-height: 22px;
}
/**
 * flex布局
 * @param  {string} @flex-direction:column  主轴的方向
 * row：主轴为水平方向，起点在左端。
 * row-reverse：主轴为水平方向，起点在右端。
 * column：主轴为垂直方向，起点在上沿。
 * column-reverse：主轴为垂直方向，起点在下沿。
 * @param  {string} @justify-content:center 在主轴上的对齐方式
 * flex-start：左对齐
 * flex-end：右对齐
 * center： 居中
 * space-between：两端对齐，项目之间的间隔都相等
 * @param  {string} @align-items:center     在交叉轴上如何对齐。
 * flex-start：交叉轴的起点对齐。
 * flex-end：交叉轴的终点对齐。
 * center：交叉轴的中点对齐。
 * baseline: 项目的第一行文字的基线对齐。
 * stretch：如果项目未设置高度或设为auto，将占满整个容器的高度。
 *
 */
/**
 * flex子元素
 * @param  {boolen} @display 是否允许伸缩
 */
.flex-center {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-around {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-left {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-right {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-between {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
@-webkit-keyframes picker-close {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes picker-close {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes picker-open {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes picker-open {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes picker-close-backdrop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes picker-close-backdrop {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes picker-open-backdrop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes picker-open-backdrop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.picker-enter-active {
  -webkit-animation: picker-open-backdrop 0.3s ease-out;
  animation: picker-open-backdrop 0.3s ease-out;
}
.picker-enter-active .picker-wrapper {
  -webkit-animation: picker-open 0.3s ease;
  animation: picker-open 0.3s ease;
}
.picker-leave-active {
  -webkit-animation: picker-close-backdrop 0.3s ease-out;
  animation: picker-close-backdrop 0.3s ease-out;
}
.picker-leave-active .picker-wrapper {
  -webkit-animation: picker-close 0.3s ease;
  animation: picker-close 0.3s ease;
}
.picker-enter,
.picker-leave-active {
  opacity: 0;
}
.picker-top-content,
.picker-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.picker-backdrop {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.picker-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  z-index: 9999;
}
.picker-content {
  position: relative;
  width: 100%;
  height: 228px;
  background: white;
}
.picker-body {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.picker-item {
  font-size: 20px;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.picker-helper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.picker-helper:before {
  content: '';
  width: 100%;
  height: 38px;
  border-top: 1px solid #adb0a7;
  border-bottom: 1px solid #adb0a7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.picker-item-content {
  width: 100%;
  height: 36px;
  top: 96px;
  left: 0px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center center -113.64752726px;
  transform-origin: center center -113.64752726px;
}
.picker-item-content div {
  width: 100%;
  top: 36px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-18deg);
  transform: rotateX(-18deg);
}
.picker-item-content > div {
  top: 0;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.picker-item-content span {
  width: 100%;
  height: 36px;
  text-align: center;
  display: block;
  line-height: 36px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.number-select span {
  margin-left: -0.06rem;
}
.number-select .add {
  margin-left: -0.06rem;
}
.svg-img {
  background-size: 100% 100%;
}
.menu-list {
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.menu-list .item {
  color: #686868;
  padding: .1rem;
  border: 1px solid transparent;
  margin-right: .3rem;
}
.menu-list .item:last-child {
  margin-right: 0;
}
.menu-list .active {
  color: #181818;
  border: 1px solid #181818;
}
.flex-basis-30 {
  flex-basis: 30px;
  flex-shrink: 0;
}
.city-select-head-title {
  height: .26rem;
  line-height: .26rem;
  position: absolute;
  left: .30rem;
  top: .25rem;
}
.city-select-head-title > * {
  display: inline-block;
  vertical-align: bottom;
}
.city-select-head-ico {
  height: .22rem;
}
.city-select-content {
  z-index: 2000;
  background: #e9e9e9;
}
.city-select-content .search-input {
  margin-left: .9rem;
  margin-right: .4rem;
}
.city-select-content .text-content {
  padding-left: .24rem;
  padding-right: .5rem;
}
.city-select-content .text {
  font-size: .26rem;
  color: #181818;
  height: .6rem;
  line-height: .59rem;
  border-bottom: 1px solid #e9e9e9;
}
.head-location {
  border-bottom: #e9e9e9;
  padding-bottom: .3rem;
  position: absolute;
  top: .9rem;
  left: 0;
  width: 100%;
}
.list-main {
  padding-top: 2.71rem;
  height: 100%;
  overflow: scroll;
}
.search-item {
  height: .4rem;
  line-height: .38rem;
  min-width: 1.06rem;
  border: 1px solid #181818;
  color: #181818;
  font-size: .24rem;
  border-radius: .4rem;
  margin-right: .3rem;
  display: inline-block;
  text-align: center;
  padding-left: .1rem;
  padding-right: .1rem;
}
.search-item.blank {
  background: #181818;
  color: white;
}
.city-all-list {
  border-top: 1px solid #dadada;
}
.city-all-list .title {
  font-size: .24rem;
  height: .5rem;
  line-height: .49rem;
  padding-left: .24rem;
  border-bottom: 1px solid #e9e9e9;
}
.spell-list {
  position: fixed;
  top: 2.5rem;
  right: .2rem;
  width: .30rem;
}
.spell-list .item {
  font-size: .2rem;
  color: #686868;
  height: .38rem;
  line-height: .38rem;
}
.spell-list .active {
  color: #0a0a0a;
  font-size: .3rem;
}
.head-type-menu {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: .2rem;
  padding-bottom: .18rem;
}
.head-type-menu .item {
  color: #181818;
  font-size: .3rem;
  line-height: .3rem;
  padding-bottom: .1rem;
  border-radius: 1px;
  border-bottom: 2px solid transparent;
  margin-right: 1rem;
}
.head-type-menu .item:last-child {
  margin-right: 0;
}
.head-type-menu .active {
  border-bottom: 2px solid #181818;
}
.swiper-content {
  padding-left: .24rem;
  padding-right: .24rem;
  padding-bottom: .4rem;
  min-height: 2.58rem;
}
.swiper-slide {
  width: 100%;
  height: 3.08rem;
}
.swiper-slide img {
  width: 100%;
}
.club-item-content {
  padding-top: .3rem;
  padding-left: .24rem;
  padding-right: .24rem;
  min-height: 4rem;
}
.club-item-list {
  padding-bottom: .38rem;
  margin-bottom: .48rem;
  border-bottom: 1px solid #c2c2c2;
}
.club-item-list img {
  width: 100%;
  height: 4.22rem;
  border-radius: 4px;
}
.club-item-list .title {
  padding-top: .32rem;
  color: #181818;
  font-size: .32rem;
}
.club-item-list .text {
  font-size: .24rem;
}
.club-item-list .ico {
  background-image: url(/images/location.png);
  background-size: 100% 100%;
  margin-right: .16rem;
}
.merchant-talk-btn {
  width: 1.28rem;
  right: .24rem;
  bottom: 0.4rem;
}
.merchant-title {
  font-size: .32rem;
  margin-bottom: .26rem;
}
.merchant-title div {
  margin-left: .2rem;
}
.merchant-title * {
  height: .3rem;
}
.merchant-address {
  font-size: .24rem;
  height: .3rem;
}
.club-search-content {
  z-index: 2000;
}
.club-search-content .search-input {
  margin-left: .24rem;
  width: 6.1rem;
  margin-right: .2rem;
}
.club-search-content .close-btn {
  font-size: .34rem;
  color: #181818;
  position: absolute;
  right: .24rem;
  top: .17rem;
}
.club-search-content .search-item {
  float: left;
  margin-right: .42rem;
  margin-bottom: .34rem;
}
.club-search-content .hot-list {
  padding-bottom: .34rem;
}
.history-list-item {
  height: .6rem;
  line-height: .59rem;
}
.search-club-list-item {
  position: relative;
  padding-left: 2.84rem;
  padding-top: .32rem;
  padding-bottom: .32rem;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  height: 2.38rem;
}
.search-club-list-item .content {
  height: 100%;
  padding-left: .2rem;
}
.search-club-list-item .img {
  position: absolute;
  width: 2.6rem;
  height: 1.96rem;
  top: .2rem;
  left: .24rem;
}
.book-window {
  height: 3.18rem;
  border-top: 1px solid #cdcdcd;
}
.book-window .item-list {
  height: 1.05rem;
  padding-top: .22rem;
  padding-bottom: .2rem;
}
.book-window .item {
  height: .61rem;
}
.book-window .item .img {
  width: .31rem;
  height: .31rem;
}
.book-content {
  padding-bottom: 3.18rem;
}
.product-menu {
  padding-top: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  overflow: scroll;
}
.product-menu .item {
  height: .9rem;
  border-left: 0.08rem solid #f2f2f2;
  color: #686868;
  background: #f2f2f2;
  font-size: .3rem;
  line-height: .89rem;
  border-bottom: 1px solid #dadada;
}
.product-menu .active {
  border-left: 0.08rem solid #181818;
  color: #181818;
  font-size: .32rem;
}
.product-main .item {
  height: 1.75rem;
  position: relative;
  background: linear-gradient(to right, #e6e6e6, #f2f2f2 10%, #f2f2f2 100%);
  padding-top: .33rem;
  padding-bottom: .33rem;
  padding-left: 1.67rem;
}
.product-main .item .img {
  position: absolute;
  width: 1.09rem;
  height: 1.09rem;
  top: .33rem;
  left: .4rem;
  border-radius: 5px;
}
.product-main .number-select {
  position: absolute;
  right: .2rem;
  bottom: .2rem;
}
.product-pb {
  padding-bottom: 1rem;
}
.product-footer {
  height: 1rem;
  padding-right: 2.58rem;
}
.product-footer .content {
  padding-top: .16rem;
  padding-bottom: .16rem;
}
.product-footer .price {
  padding-top: .18rem;
  font-weight: bold;
  border-bottom: 1px solid #181818;
  padding-bottom: .04rem;
}
.product-footer .price .line {
  line-height: 1;
  border-bottom: 4px solid #181818;
  padding-bottom: .08rem;
  height: .48rem;
}
.product-footer .buy-btn {
  width: 2.58rem;
  height: 1rem;
  line-height: 1rem;
}
.shop-cart {
  width: .68rem;
  height: .68rem;
  background-image: url(/images/page/shop-cart.png);
  background-size: 100% 100%;
  position: relative;
}
.shop-cart .num {
  position: absolute;
  height: .28rem;
  font-size: .2rem;
  min-width: .28rem;
  line-height: .28rem;
  text-align: center;
  color: white;
  background: #f74102;
  top: 0;
  left: .54rem;
  border-radius: .28rem;
}
.product-list-window .content {
  bottom: 1rem;
}
.product-list-window .item {
  height: 1rem;
  padding-top: .26rem;
  padding-bottom: .26rem;
  line-height: .48rem;
  font-size: .34rem;
  color: #585858;
}
.pay-content .pay-item {
  height: 1.62rem;
  padding-top: .28rem;
  padding-bottom: .28rem;
  padding-left: 1.34rem;
  position: relative;
  font-size: .28rem;
  color: #181818;
  line-height: 1.06rem;
}
.pay-content .pay-item.sm {
  height: .94rem;
}
.pay-content .pay-item .img {
  position: absolute;
  width: 1.06rem;
  height: 1.06rem;
  top: .28rem;
  left: -0.06rem;
}
.pay-content .pay-item .text {
  width: 2.8rem;
}
.pay-content .pay-item .num {
  width: 1.40rem;
}
.pay-content .pay-item .price {
  width: 1.40rem;
  text-align: right;
}
.pay-content .pay-item .title {
  padding-left: .1rem;
  border-left: 2px solid #181818;
}
.pay-content .notice {
  height: .74rem;
}
.my-header {
  height: 3.06rem;
  border-bottom: 1px solid #c2c2c2;
}
.my-header .head-img {
  width: 1.84rem;
  height: 1.84rem;
}
.my-header .lv-ico {
  width: .53rem;
  height: .53rem;
  top: .15rem;
  right: -0.2rem;
}
.my-header .lv-ico img {
  width: 80%;
}
.my-header .head-ico {
  width: .34rem;
}
.my-header .phone-ico {
  height: .22rem;
}
.my-header .phone-num {
  line-height: .22rem;
  height: .22rem;
}
.my-header .my-info {
  bottom: .3rem;
  height: .48rem;
  border-bottom-left-radius: .48rem;
  border-top-left-radius: .48rem;
  padding: .13rem .1rem .13rem .2rem;
}
.my-header .my-info img {
  width: .1rem;
  height: .17rem;
}
.my-qrcode {
  height: 1.62rem;
}
.my-money {
  height: 1.9rem;
  padding-top: .52rem;
}
.head-bg {
  height: 4.68rem;
}
.head-bg .blur-bg {
  filter: blur(5px);
  opacity: .1;
  background-position: center;
  background-size: cover;
}
.head-bg .qrcode-ico {
  width: .52rem;
  height: .52rem;
}
.my-list {
  height: 1.86rem;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  padding-top: .26rem;
  padding-bottom: .26rem;
}
.my-list .item {
  padding-top: .1rem;
  border-right: 1px solid #c2c2c2;
  height: 1.28rem;
}
.my-list .item .img {
  width: .68rem;
}
.my-list .item .num {
  width: .36rem;
  height: .36rem;
  top: -0.08rem;
  right: -0.18rem;
  line-height: .36rem;
  background: #f43626;
}
.my-list .item:last-child {
  border-right: 0;
}
.wine-header {
  padding-top: .24rem;
  padding-bottom: .3rem;
  border-bottom: 1px solid #c2c2c2;
}
.wine-header .item {
  height: .56rem;
  line-height: .54rem;
  width: 2.08rem;
  border-right: 1px solid #181818;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}
.wine-header .item:first-child {
  border-bottom-left-radius: .05rem;
  border-top-left-radius: .05rem;
  border-left: 1px solid #181818;
}
.wine-header .item:last-child {
  border-bottom-right-radius: .05rem;
  border-top-right-radius: .05rem;
}
.wine-header .item.active {
  background: #000;
  color: white;
}
.select-head {
  padding-top: .22rem;
}
.select-head .select-ico {
  position: absolute;
  z-index: 10;
  right: .3rem;
  top: .26rem;
  height: .2rem;
  width: .24rem;
  background-image: url(/images/my/select.png);
  background-size: 100% 100%;
}
.pt-wine {
  padding-top: 1.91rem;
}
.wine-main {
  padding-top: .72rem;
  padding-bottom: .72rem;
}
.wine-list {
  height: 1.17rem;
  padding-top: .34rem;
  padding-bottom: .34rem;
  border-bottom: 1px solid #e9e9e9;
}
.wine-more-list.active {
  background: #e9e9e9;
}
.my-order-list {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.my-order-list .item-list {
  padding-left: 1.7rem;
  margin-bottom: .04rem;
  height: 1.7rem;
}
.my-order-list .item-list .img {
  width: 1.3rem;
  height: 1.3rem;
  top: .2rem;
  left: .24rem;
}
.my-order-list .item-list:last-child {
  margin-bottom: 0;
}
.qrcode-content {
  padding: .6rem .5rem;
  border-radius: .3rem;
  width: 5.98rem;
  height: 8.52rem;
}
.qrcode-content .head-ico {
  width: 1.28rem;
  height: 1.28rem;
  border: 1px solid #181818;
}
.qrcode-content .title {
  padding-left: 1.45rem;
}
.choose-text {
  color: #686868;
}
.active + .choose-text {
  color: #181818;
}
