body{
  padding: 0;
  margin: 0;
  background: white;
}
div,body,button,input,textarea,ul,li,span{
  box-sizing: border-box;
}
.cursor-pointer{
  cursor: pointer;
}
body{
  background: rgb(242,242,242);
}
html{
  line-height:1;
  color: @color-24;
}
#app,body,html{
  height: 100%;
  background: rgb(235,235,235);
}
div::-webkit-scrollbar{
  display: none;
}
.write-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
