.p{
  &t{
    &-30{
      padding-top:.3rem;
    }
    &-36{
      padding-top:.36rem;
    }
    &-20{
      padding-top:.2rem;
    }
    &-10{
      padding-top:.1rem;
    }
    &-24{
      padding-top:.24rem;
    }
    &-26{
      padding-top:.26rem;
    }
    &-28{
      padding-top:.28rem;
    }
    &-40{
      padding-top:.4rem;
    }
    &-42{
      padding-top:.42rem;
    }
    &-48{
      padding-top:.48rem;
    }
    &-50{
      padding-top:.5rem;
    }
    &-70{
      padding-top:.7rem;
    }
    &-74{
      padding-top:.7rem;
    }
    &-132{
      padding-top:1.32rem;
    }
    &-header{
      padding-top:@header-height;
    }
  }
  &l{
    &-24{
      padding-left:.24rem;
    }
    &-38{
      padding-left:.38rem;
    }
    &-20{
      padding-left:.20rem;
    }
    &-product{
      padding-left:@product-width;
    }
  }
  &r{
    &-20{
      padding-right:.20rem;
    }
    &-24{
      padding-right:.24rem;
    }
    &-26{
      padding-right:.26rem;
    }
    &-30{
      padding-right:.3rem;
    }
    &-32{
      padding-right:.32rem;
    }
    &-38{
      padding-right:.38rem;
    }
  }
  &b{
    &-footer{
      padding-bottom:@footer-height;
    }
    &-40{
      padding-bottom:.4rem;
    }
    &-42{
      padding-bottom:.42rem;
    }
    &-48{
      padding-bottom:.48rem;
    }
    &-50{
      padding-bottom:.5rem;
    }
    &-56{
      padding-bottom:.56rem;
    }
    &-74{
      padding-bottom:.74rem;
    }
    &-30{
      padding-bottom:.3rem;
    }
    &-20{
      padding-bottom:.2rem;
    }
    &-24{
      padding-bottom:.24rem;
    }
    &-22{
      padding-bottom:.22rem;
    }
    &-26{
      padding-bottom:.26rem;
    }
    &-150{
      padding-bottom:1.5rem;
    }
  }
}
