.width-100-100{
  width: 100%;
}
.width-90-100{
  width: 90%;
}
.width-70-100{
  width: 70%;
}
.width-50-100{
  width: 50%;
}
.width-30-100{
  width: 30%;
}
.width-10-100{
  width: 10%;
}
.width-40-100{
  width: 40%;
}
.width-100{
  width: 100px;
}
.width-80{
  width: 80px;
}
.width-60{
  width:60px;
}
.width-30{
  width: 30px;
}
.width-35{
  width:35px;
}
.width-20{
  width: 20px;
}